@import "tailwindcss";

@layer utilities {
  .nav__link {
    @apply relative text-base font-medium w-fit block;
  }

  .nav__link::after {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    background-color: #db2777; /* tailwind bg-pink-600 */
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
  }

  .nav__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  html {
    scroll-behavior: smooth;
  }
}
